@font-face {
font-family: "ptsans-400";
font-style: normal;
font-weight: 400;
src: url("../fonts/ptsans-400.woff2") format("woff2");
font-display: swap;
 }



 @font-face {
  font-family: "ptsans-700";
  font-style: bold;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;}


/*общие стили для страницы*/
.html {
  height: 100% ;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

body {
  font-family: "ptsans-400", sans-serif;
  font-size: 22px;
  line-height: 26px;
  color: #333333;
  text-align: center;
  background-color: #F2F2F2;
  margin: 0;
  min-height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
}
.main-page{
  width: 1200px;
  margin: auto;
  background-color: #ffffff;
}

.main-index {
  flex-grow: 1;
}

h2 {
  font-family: "ptsans-700", sans-serif;
  font-size: 30px;
  line-height: 36px;
  color: #000000;
  text-transform: uppercase;
}

h3 {
  font-size: 24px;
  line-height: 28px;
  color: #000000;
 text-transform: uppercase;
}


.navigation-link {
  font-family: "ptsans-700", sans-serif;
  line-height: 24px;
  font-size: 20px;
  color: black;
  text-align: center;
  background-color: white;
  text-decoration: none;
  text-transform: none;
}

ul{
  list-style: none;
}

.button-all {
  background-color: #756157;
  color: white;
  text-decoration: none;
  font-family: "ptsans-700";
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  align-content: center;
  border-radius: 4px;
  padding: 8px 34px;
}
/*Стилизаация шапки*/
header{
display: flex;
justify-content: space-between;
padding: 0 70px;
text-transform: uppercase;
align-items: center;
}
.navigation-list {
  list-style: none;
  margin: 0;
  display: flex;
  justify-content: space-around;
}
.section-left {
margin: 0 auto;

}
.section-right {
margin: 0 auto;
}



/*Стилизация 1 блока+текси внизу*/
.main-background {
background-image:
url("../images/bow.svg"),
url("../images/index-background.jpg");
background-size: 100% auto, cover;
background-repeat:no-repeat;
background-position: left bottom, left top;
}
.main-logo-text {
  margin: 51px 82px;
  text-align: center;
}
.text {
  width: 1200px;
}
.main-text {
  width: 620px;
  margin: 69px 290px 0;
}
.main-text-paragraph {
  width: 651px;
  margin: 25px 275px 69px;
}




/*стилизация блока преимуществ*/
.advantages {
  width: 100%;
  background-color: #83B3D31F;
  font-size: 18px;
  line-height: 21px;
}
.advantages h3 {
  width: 175px;
  margin: 0 28px 30px;


}

.first {
  display: flex;
  background-color: #82B3D3;
  color: #ffffff;
}
.first h3,
.fifth h3 {
color: #ffffff;

}
.fifth {
  flex-direction: row-reverse;
}

.center-block {
  display: flex;
  min-height: 385px;
  margin: 0 auto;
  padding: 0;
  flex-wrap: wrap;
}

.center-block li {
  width: 230px;
  margin: 50px 85px;
}

.color-inner{
  background: #83B3D333;
  max-width: 400px;
}

.text-advantages {
  padding: 102px 80px;
}

.text-advantages p{
  margin: 30px 0 0;
}

.down {
padding-top: 50px;
}

/*Стилизация блока приглашения*/

.welcom {
  width: 505px;
  margin: 64px 347px 0;
}
.inner {
  width: 490px;
  margin: 20px 355px 64px;
}




.comfort {
  display: flex;
  padding: 0;
  margin: 0;
  min-height: 385px;
  font-size: 18px;
  line-height: 21px;
}

.advantages-item {
  padding: 81px 85px;
}

.comfort li:nth-child(odd) {
 background: #83B3D31F;
}

.advantages-item p {
  width: 230px;
  margin: 30px 0 0;
}
.logo-comfort {
  margin: 0 76px 30px;
}


/*Стилизация блока подписки*/
.interestind {
padding-top: 27px;
}
.form-paragraph {
  width: 592px;
  margin: 20px 304px 54px;
}

.search-form {
  padding: 8px 50px;
}




/*Стилизация блока подписки с фоном*/
.form-subscribe {
  background-color: #82B3D3;
  color: #ffffff;
  margin-top: 100px;
}
.main-text-subscribe {
  color: #ffffff;
}


/*Стилизация подвала*/

.conteiner {
  display: flex;
  justify-content: space-between;
  padding: 40px 70px 30px;
}

.footer-icons-messendg {
  display: flex;
  min-width: 142px;
  margin: 5px 0 5px;
  padding: 0;
}
.contact-phone {
 font-size: 40px;
 line-height: 40px;
 color: black;
 text-decoration: none;
 max-width: 720px;
 margin: 5px 41px;
}
