@font-face {
font-family: ptsans-400;
font-style: normal;
font-weing: 400;
src: url("../fonts/ptsans-400.woff2") format("woff2");
font-display: swap;
 }



 @font-face {
  font-family: "ptsans-700", sans-serif;
  font-style: bold;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;}


/*общие стили для страницы*/
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

body {
  font-family: "ptsans-400", sans-serif;
  font-size: 22px;
  line-height: 26px;
  color: #333333;
  text-align: center;
  background-color: #F2F2F2;
  margin: 0;
  height: 100%;
  width: 100%;
}

h2 {
  font-family: "ptsans-700", sans-serif;
  font-size: 30px;
  line-height: 36px;
  color: #000000;
}

h3 {
  font-family: "ptsans-400", sans-serif;
  font-size: 24px;
  line-height: 28px;
  color: #000000;
}
.main-page{
  width: 1200px;
  margin: auto;
  background-color: #ffffff;
}

.navigation-link {
  font-family: "ptsans-700", sans-serif;
  line-height: 24px;
  font-size: 20;
  color: black;
  text-align: center;
  background-color: white;
  text-decoration: none;
  text-transform: none;
}

ul{
  list-style: none;
}

.button-all {
  background-color: #756157;
  color: white;
  text-decoration: none;
  font-family: "ptsans-700";
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  align-content: center;
  border-radius: 4px;
  padding: 8px 34px;
}
/*Стилизаация шапки*/
header{
display: flex;
justify-content: space-between;
padding: 0 70px;
text-transform: uppercase;
font-family: "ptsans-700", sans-serif;
font-size: 20px;
line-height: 24px;
align-items: center;
}
.navigation-list {
  list-style: none;
  margin: 0;
  display: flex;
  justify-content: space-around;
}
.section-left {
margin: 0 auto;

}
.section-right {
margin: 0 auto;
}

/*стилизация блока преимуществ*/
.advantages-list{
background-color: #83B3D31F;
padding: 0;
margin: 0;
display: flex;
flex-wrap: wrap;

}
.advantages-list p {
  font-family: "ptsans-400", sans-serif;
  font-size: 18px;
  line-height: 21px;
  width: 230px;
}
.advantages-list h3{
  width: 175px;
}

.first{
  width: 1200px;
  display: flex;
  background-color: #82B3D3;
}
.advantages-center {
  width: 1200px;
  display: flex;
  justify-content: space-around;
}

.fifth{
  width: 1200px;
  display: flex;
  background-color: #82B3D3;
  flex-direction: row-reverse;
}
/*Стилизация подвала*/
.contact-phone {
 font-size: 40px;
 line-height: 40px;
 color: black;
 text-decoration: none;
}
